@import 'reset';

.sidebar {
	background-color: #7D7DFF;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 40%;
}

.main {
	position: absolute; 
	top: 0;
	bottom: 0;
	right: 0;
  	width: 60%;
}

.content {
	margin-left: 30px;
}

.sidebar_header {
	letter-spacing: 0.3em;
	font-size: 28px;
  font-weight: normal;
}

.repos {
  margin-top: 25px;
}

.repos li {
	color: #FFFFFF;
}

.sidebar_content {
	margin-top: 15px;
}

.menu_font_color {
	color: #FFFFFF;
	font-family: 'Segoe UI Light', Arial, Sans-Serif;
}

.menu_style {
	text-align: right;
	padding-right: 15px;
	line-height: 25px;
}

.general_info {
	margin-top: 15px;
	
}

.general_info span {
	margin-right: 65px;
	font-size: 20px;
	color: #C7C7C7;
}

.general_info span:last-child {
  margin-right: 0;
}

.load_button a {
	text-align: center;
	background-color: #C7C7C7;
	color: #FFFFFF;
	width: 397px;
	padding: 6px;
	font-size: 11px;
  display: block;
  margin-bottom: 5px;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.commits {
	height: 600px;
  margin-top: 25px;
}

.commits li {
	border: 1px solid #CCC;
	margin-bottom: 5px;
	width: 395px;;
	height: 30px;
	overflow: hidden;
	padding: 5px;
}

.commit_date {
	float: right;
	font-size: 10px;
	color: #9D9A9A;
  font-weight: bold;
}

.commit_message {
  font-size: 14px;
  color: #8B8989;
  font-weight: bold;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.commit_author {
	font-size: 12px;
  color: #9D9A9A;
  display: block;
}

.commit_avatar {
	background-color: #C7C7C7;
  float: left;
}

.commit_author_details {
  margin-left: 35px;
  display: block;
}

.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}