<!DOCTYPE html>
<html>
	<head>
		<title>ElasticSearch Repositories</title>
		<link href="styles/styles.css" rel="stylesheet" type="text/css">
	</head>

	<body ng-app="myApp">
		<div id="container" ng-controller="RepositoryController">

			<div id="sidebar" class="menu_style sidebar">
				<div class="sidebar_content">
					<h1 class="sidebar_header menu_font_color">projetos</h1>
					<nav class="repos">
						<ul>
							<li ng-repeat="repository in repositories">
								<a ng-click="loadRepositoryData(repository)" class="menu_font_color">{{ repository.name }}</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<div id="main" class="main">
				<div id="content" class="content" ng-if="!notLoaded">
					<div class="general_info">
						<span>stars {{stars}}</span>
						<span>forks {{forks}}</span>
						<span>contribs {{contribs}}</span>
					</div>

					<div class="commits">
						<ul>
							<li ng-repeat="detail in commits">
								<span class="commit_date"> {{detail.commit.author.date | date:'dd/MM/yyyy'}} </span>
                				<img src="{{detail.author.avatar_url}}" width="30" height="30" class="commit_avatar"/>
								<span class="commit_author_details">
									<span class="commit_message"> {{detail.commit.message}} </span>
									<span class="commit_author"> @{{detail.author.login}} </span>
								</span>
							</li>
						</ul>

						<div class="load_button">
							<a ng-click="loadMoreCommits()" class="menu_font_color">Carregar mais</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="libs/angular/angular.js"></script>
		<script src="libs/angular-sanitize/angular-sanitize.js"></script>
		<script src="libs/angular-route/angular-route.js"></script>
		<script src="libs/lodash/lodash.js"></script>

		<script src="js/app.js"></script>
		<script src="js/services/githubFactory.js"></script>
		<script src="js/controllers/repository.js"></script>
	</body>
</html>