<!DOCTYPE html>
<html>
<head>
	<title>ElasticSearch Repositories</title>
	<link href="styles/style.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="myApp">
	<main id="container" ng-controller="RepositoryController as vm">

		<div id="sidebar" class="menu_style sidebar">
			<section class="sidebar_content">
				<h1 class="sidebar_header font_white">projetos</h1>
				<nav class="repos">
					<ul>
						<li ng-repeat="repository in vm.repositories">
							<a ng-click="vm.loadRepositoryData(repository)" class="font_white">{{ repository.name }}</a>
						</li>
					</ul>
				</nav>
			</section>
		</div>

		<section id="main" class="main">
			<div id="content" class="content" ng-if="!vm.notLoaded">
				<section class="general_info">
					<span>stars {{vm.stars}}</span>
					<span>forks {{vm.forks}}</span>
					<span>contribs {{vm.contribs}}</span>
				</section>

				<section class="commits">
					<ul>
						<article ng-repeat="detail in vm.commits">
							<li>
								<span class="commit_date"> {{detail.commit.author.date | date:'dd/MM/yyyy'}} </span>
								<img src="{{detail.author.avatar_url}}" width="30" height="30" class="commit_avatar"/>
								<span class="commit_author_details">
									<span class="commit_message"> {{detail.commit.message}} </span>
									<span class="commit_author"> @{{detail.author.login}} </span>
								</span>
							</li>
						</article>
					</ul>

					<div class="load_button">
						<a ng-click="vm.loadMoreCommits()" class="font_white">Carregar mais</a>
					</div>
				</section>
			</div>
		</section>
	</main>

	<script src="libs/libs.min.js"></script>
	<script src="js/script.min.js"></script>
</body>
</html>